.container-table {
  display: table;
  width: 500px;
}
.container-table>.row {
  display: table-row;
}
.container-table>.row>* {
  display: table-cell;
  white-space:nowrap;
}

.battle-unit-card-window-text, .battle-unit-card-window-text-attack, .battle-unit-card-window-text-buff {
  font-weight: 500 !important;
  font-size: 1.0rem !important;
  white-space: nowrap !important;
}
.battle-unit-card-window-text-attack {
  color: #FF6767
}
.battle-unit-card-window-text-buff {
  color: #FFEA88
}

